* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.tegar {
  text-align: center;
  padding: 20px;
  background-color: #7d5a50;
  color: #fcdec0;
}

nav ul {
  font-size: 1.3rem;
  display: flex;
  list-style-type: none;
  justify-content: center;
  background-color: #b4846c;
}

nav ul a {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 15px;
}

article a {
  color: inherit;
  font-size: inherit;
}

article a:hover {
  color: #7d5a50;
}

nav li {
  color: #fcdec0;
}

nav li:hover {
  background-color: #e5b299;
  color: #7d5a50;
  cursor: pointer;
}

main {
  padding: 30px 180px;
  flex: 1;
  background-color: #e5b299;
}

.upper-content {
  display: flex;
  gap: 50px;
}

main {
  font-size: 1.1rem;
}

article {
  flex: 1;
  color: #5b443d;
}

.article-div {
  margin-bottom: 30px;
}

aside {
  border: 1px solid #b4846c;
  border-radius: 8px;
  background-color: #b4846c;
  height: fit-content;
  padding: 20px 20px 10px 20px;
  text-align: center;
  color: #fcdec0;
}

.aside-name {
  font-weight: bold;
  font-size: 1.1rem;
}

aside img {
  width: 200px;
}

footer {
  background-color: #7d5a50;
  color: #fcdec0;
  text-align: center;
  padding: 10px;
}

.portfolio {
  margin-top: 40px;
  text-align: center;
  color: #5b443d;
}

.portfolio h1 {
  margin-bottom: 15px;
}

.portfolio p {
  margin-bottom: 20px;
}

#odin {
  width: 100%;
  max-width: 400px;
}

/* Modal Portfolio */

/* Style the Image Used to Trigger the Modal */
#odin {
  border-radius: 5px;
  /* cursor: pointer; */
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* Bg Modal */
.modal {
  display: none; /* defaultnya hidden */
  position: fixed; /* tetap di tempat */
  z-index: 1; /* berada di atas */
  padding-top: 100px; /* lokasi box nya */
  left: 0;
  top: 0;
  width: 100%; /* lebar full */
  height: 100%; /* tinggi full */
  overflow: auto; /* scroll kalau dibutuhkan */
  background-color: rgba(0, 0, 0, 0.9); /*  */
}

/* Gambar Portfolio di Modal */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption Portfolio di Modal */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Zoom Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Tombol Close */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Style all font awesome icons */
.fa {
  padding: 15px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}

.sosmed {
  margin-top: 20px;
  font-size: 25px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-linkedin {
  background: #fcdec0;
  color: black;
}

/* Twitter */
.fa-github {
  background: #fcdec0;
  color: black;
}

/* IG */
.fa-instagram {
  background: #fcdec0;
  color: black;
}

/* Responsive Portfolio */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
